.t-header-1 {
  font-size: 2rem;
}

.t-header-2 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.t-header-3 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.t-header-4 {
  font-size: 2rem;
}

.subsection {
  &__title {
    font-family: $font-forum;
    font-weight: 400;
  }

  &__brief {
    font-family: $font-bellefair;
    font-size: 1.6rem;
  }

  &__subtitle {
    font-family: $font-forum;
    font-weight: 400;
  }
}
