.u-center-text {
  text-align: center !important;
}

.u-margin-top-tiny {
  margin-top: 0.5rem !important;
}
.u-margin-top-small {
  margin-top: 1.5rem !important;
}
.u-margin-top-medium-small {
  margin-top: 2.5rem !important;
}
.u-margin-top-medium {
  margin-top: 4rem !important;
}
.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-bottom-tiny {
  margin-bottom: 0.5rem !important;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium-small {
  margin-bottom: 2.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
.u-margin-bottom-huge {
  margin-bottom: 10rem !important;
}

.u-unselectable {
  user-select: none !important;
}

.u-undragable {
  pointer-events: none !important;
}

.u-visible {
  opacity: 1 !important;
  visibility: visible !important;
}

.u-invisible {
  opacity: 0 !important;
  visibility: hidden !important;
}

.u-transparent {
  opacity: 0 !important;
}

.u-opaque {
  opacity: 1 !important;
}

.header-fade {
  opacity: 0 !important;
  visibility: hidden !important;

  @media only screen and (max-width: $bp-smallest) {
    opacity: 1 !important;
    visibility: visible !important;

    top: -100vh !important;
  }
}
