.container {
  display: grid;
  grid-template-columns:
    [full-start]1fr
    [center-start] minmax(598px, 110rem)
    [center-end]
    1fr
    [full-end];
}

.background {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  &--1 {
  }

  &--2 {
    opacity: 0;
    visibility: hidden;
  }

  &--3 {
    opacity: 0;
    visibility: hidden;
  }
}

.header {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../img/bg-top.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  transform: translate3d(0, 0, 0);
  transition: all 0.7s;

  @media only screen and (max-width: $bp-smallest) {
    position: absolute;
    width: 598px;
    transition: none;
  }

  &__wrapper {
    position: relative;
    max-width: 150rem;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
}

.nav {
  &__header {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @media only screen and (max-width: $bp-large) {
      align-items: stretch;
      width: 100%;
    }

    @media only screen and (max-width: $bp-small) {
      flex: 1 0;
    }
  }

  &__body {
    z-index: 3;
    grid-column: center-start / center-end;
    justify-self: center;

    width: 90%;
    padding-top: 15%;
    margin-top: 35rem;

    opacity: 0;
    visibility: hidden;

    @media only screen and (max-width: $bp-medium) {
      width: 96%;
      padding-top: 21%;
    }

    @media only screen and (max-width: $bp-smallest) {
      margin-top: 10rem;
    }
  }
}

.sidebar {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  justify-self: start;
  align-self: start;

  img {
    width: 6rem;
  }
}

.sections__wrapper {
  z-index: 1;
  position: relative;
  grid-column: center-start / center-end;

  margin-top: 5rem;
  padding: 4rem 6rem;
  border: 1px solid $color-secondary;
  box-shadow: rgba($color-dark, 0.8) 0px 25px 50px -12px,
    rgba($color-dark, 0.8) 20px 20px 6px 0px inset,
    rgba($color-dark, 0.8) -20px -20px 6px 1px inset;

  opacity: 0;
  visibility: hidden;

  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-image: url("../components/texture.jpg");
    opacity: 0.95;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem 4rem;
  }
}

.introduction {
  grid-column: center-start / center-end;

  background-color: rgba($color-primary, 0.5);
  box-shadow: rgba($color-dark, 0.3) 0px 1px 2px 0px,
    rgba($color-dark, 0.15) 0px 2px 6px 2px;

  position: relative;
  width: 100%;
  padding: 1rem;
  margin-bottom: 10rem;

  display: grid;
  grid-template-columns: 65% 1fr;
  column-gap: 4rem;
  row-gap: 2rem;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(0, min-content));
    align-items: center;

    padding: 1.5rem;
  }

  &:after {
    content: "";

    @media only screen and (max-width: $bp-medium) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 99%;
      height: 97.5%;

      opacity: 0.8;
      filter: brightness(0.25);

      background-image: url("../img/intro.jpg");
      background-position: 50% 30%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.gameplay {
  & > section {
    margin: 5rem 0;
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;

    @media only screen and (max-width: $bp-large) {
      column-gap: 2rem;
    }

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 2rem;
    }
  }

  &__features {
    display: grid;
    grid-template-columns: 1fr;

    padding: 3rem 2rem;
    background-color: rgba($color-secondary, 0.1);
  }

  &__class {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
    margin: 6.5rem 0 5rem 0 !important;
  }
}

.world {
  & > section {
    margin: 5rem 0;
  }

  &__race {
    display: grid;
    grid-template-columns: 1fr;

    padding: 3rem 2rem;
    background-color: rgba($color-secondary, 0.1);
  }

  &__faction {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
    margin: 6.5rem 0 5rem 0 !important;
  }
}

.invitation {
  grid-column: center-start / center-end;
  justify-self: center;
  margin: 5rem 0 15rem 0;
  padding: 25rem 10rem 5rem 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  row-gap: 1rem;

  background-image: url("../components/text-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  @media only screen and (max-width: $bp-small) {
    padding: 25rem 0 5rem 0;
  }
}

.media {
  grid-column: full-start / full-end;
  width: 100%;

  padding: 3rem 0;
  margin-bottom: 15rem;

  border-top: 1px solid $color-secondary;
  border-bottom: 1px solid $color-secondary;
  background-color: rgba($color-primary, 0.8);

  &__video {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 6rem 0;
    row-gap: 1rem;
  }

  &__images {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 6rem 0;
    row-gap: 1rem;
  }
}

.blog {
  grid-column: center-start / center-end;

  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding: 6rem 5rem;

  border: 1px solid $color-secondary;
  background-color: rgba($color-secondary, 0.1);

  @media only screen and (max-width: $bp-medium) {
    padding: 6rem 5rem 4rem 5rem;
  }

  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-image: url("../components/texture.jpg");
    opacity: 0.95;
  }
}

.footer {
  grid-column: full-start / full-end;
  margin-top: 10rem;

  background-image: linear-gradient(
    to top,
    rgba($color-dark, 0.9),
    transparent
  );

  &__wrapper {
    position: relative;
    max-width: 150rem;
    height: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: max-content repeat(2, 1fr) max-content;
    justify-items: center;
    align-items: center;

    @media only screen and (max-width: $bp-large) {
      grid-template-columns: 1fr max-content;
      padding-bottom: 2rem;
      justify-items: start;
    }
  }
}

.subsection {
  &__header {
    grid-row: 1 / span 1;
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    margin-bottom: 3rem;
  }

  &__title {
    margin-bottom: 0.5rem;
  }
}

.wrapper {
  &__border {
    position: relative;
    left: 50%;

    user-select: none;
    pointer-events: none;

    transform: translate(-50%, 5px);

    &--mid {
      height: 140px;
      width: 55%;
      top: 0;

      @media only screen and (max-width: $bp-small) {
        width: 80%;
      }
    }

    &--bottom {
      width: 60%;
      bottom: 0;

      @media only screen and (max-width: $bp-small) {
        width: 85%;
      }
    }
  }

  &__vertex {
    position: absolute;
    left: 0;
    width: 100%;

    user-select: none;
    pointer-events: none;

    &--top {
      top: 0;
    }

    &--bottom {
      bottom: 0;
    }

    @media only screen and (max-width: $bp-large) {
      display: none;
    }
  }

  &__vertices {
    position: absolute;
    height: 100px;
    width: 100px;

    &--tl {
      top: -5px;
      left: -5px;

      transform: rotate(0);
    }

    &--tr {
      top: -5px;
      right: -5px;

      transform: rotate(90deg);
    }

    &--bl {
      bottom: -5px;
      left: -5px;

      transform: rotate(270deg);
    }

    &--br {
      bottom: -5px;
      right: -5px;

      transform: rotate(180deg);
    }
  }
}
