.frame {
  position: absolute;

  img {
    user-select: none;
    pointer-events: none;
  }

  &--top {
    top: 0;
    width: 100%;

    img {
      position: absolute;
      bottom: 0;
      transform: translateY(50%);
      width: 100%;
    }
  }

  &--right {
    right: 0;
    height: 100%;

    img {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-75%, -50%);
      height: 100%;
    }
  }

  &--bottom {
    bottom: 0;
    width: 100%;

    img {
      position: absolute;
      top: 0;
      transform: translateY(-50%);
      width: 100%;
    }
  }

  &--left {
    left: 0;
    height: 100%;

    img {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(75%, -50%);
      height: 100%;
    }
  }
}
