.nav {
  &__header {
  }

  &__body {
    img {
      z-index: 1;
    }
  }
}

.nav {
  &__list {
    position: relative;
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &--header {
      margin-top: 8px;
      box-shadow: 0 5px 20px $color-primary;

      background-image: url("../components/navbar-top.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    &--subheader {
      margin-top: 8px;
      column-gap: 3rem;
    }

    &--body {
      box-shadow: 0 5px 20px $color-dark;

      background-image: url("../components/navbar-top.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }

  &__item {
    transition: box-shadow 0.4s;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:not(:first-child) {
      &::before {
        content: "";
        background-image: linear-gradient(
          to bottom,
          transparent,
          rgba($color-light, 0.3),
          transparent
        );
      }
    }

    &:not(:last-child) {
      &::after {
        content: "";
        background-image: linear-gradient(
          to bottom,
          transparent,
          rgba($color-light, 0.3),
          transparent
        );
      }
    }

    &--header {
      flex: 1 1;
      text-align: center;

      &:not(:first-child) {
        &::before {
          padding: 1.8rem 0.26px;
        }
      }

      &:not(:last-child) {
        &::after {
          padding: 1.8rem 0.26px;
        }
      }

      &:hover,
      &:active,
      &:focus {
        box-shadow: inset 0px 0px 20px -6px rgba($color-tertiary-saturate, 0.6);
      }
    }

    &--body {
      flex: 1;
      text-align: center;

      &:not(:first-child) {
        &::before {
          padding: 1.5rem 0.26px;
        }
      }

      &:not(:last-child) {
        &::after {
          padding: 1.5rem 0.26px;
        }
      }

      &:hover,
      &:active,
      &:focus {
        box-shadow: inset 0px 0px 20px -6px rgba($color-tertiary-saturate, 0.6);
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;

      display: inline-block;
      width: max-content;

      transition: color 0.2s, text-shadow 0.2s;
    }

    &--header {
      &:link,
      &:visited {
        color: $color-font-light;
        font-family: $font-cinzel;
        font-size: 1.6rem;

        width: 100%;
        padding: 1.5rem 4rem;

        @media only screen and (max-width: $bp-large) {
          padding: 1.5rem 0;
        }
      }

      &:hover,
      &:active,
      &:focus {
        color: $color-tertiary-light;
        text-shadow: 0 0 6px $color-tertiary-saturate;
      }
    }

    &--subheader {
      &:link,
      &:visited {
        color: $color-font-light;
        font-family: $font-bellefair;
        font-size: 1.5rem;

        padding: 0.5rem 1rem;

        transition: all 0.3s;

        text-shadow: 0.5px 0.5px 0 $color-font-dark,
          0.5px -0.5px 0 $color-font-dark, -0.5px 0.5px 0 $color-font-dark,
          -0.5px -0.5px 0 $color-font-dark;
      }

      &:hover,
      &:active,
      &:focus {
        color: $color-tertiary-light;
        text-shadow: 0 0 1px $color-light;
      }
    }

    &--body {
      &:link,
      &:visited {
        color: $color-font-light;
        font-family: $font-cinzel;
        font-size: 1.6rem;

        width: 100%;
        padding: 1.5rem 0;

        @media only screen and (max-width: $bp-small) {
          font-size: 1.3rem;
        }
      }

      &:hover,
      &:active,
      &:focus {
        color: $color-tertiary-light;
        text-shadow: 0 0 6px $color-tertiary-saturate;
      }
    }
  }
}

.nav {
  &__frame {
    position: absolute;

    &--horizontal {
      img {
        z-index: 1;
        height: 2px;
      }
    }

    &--vertical {
      img {
        z-index: 1;
        height: 145%;
      }
    }
  }
}

.nav {
  &__header__decoration {
    z-index: 2 !important;
    height: 35px !important;
    width: auto !important;
    transform: translate(-5px, 14px) !important;
  }

  &__body__decoration {
    z-index: 2 !important;
    width: 60% !important;
    height: auto !important;

    left: 50%;
    transform: translate(-50%, 2px) !important;

    @media only screen and (max-width: $bp-small) {
      width: 80% !important;
    }
  }
}
