// COLORS
$color-primary: #393e46;
$color-secondary: #5c636e;
$color-tertiary: #c0b95f;
$color-tertiary-light: #e2dfb4;
$color-tertiary-saturate: #eeeb29;

$color-light: #fff;
$color-gray-1: rgb(190, 190, 190);
$color-gray-2: rgb(75, 75, 75);
$color-dark: #000;

$color-font-dark: rgb(32, 32, 32);
$color-font-grey: rgb(190, 190, 190);
$color-font-light: #fff;

$font-cinzel: "Cinzel Decorative", cursive;
$font-forum: "Forum", cursive;
$font-bellefair: "Bellefair", serif;
$font-mulish: "Mulish", sans-serif;

// BREAKPOINTS
$bp-infinite: 112.5em; //1800px
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 43.75em; //700px
$bp-smallest: 37.5em; //600px
