// COLORS
$color-primary: #f0f2eb;
$color-secondary: #b5592a;
$color-secondary-dark: #70371a;
$color-tertiary: #f09027;
$color-quartenery: #8cbeaa;

$color-light-1: #fff;
$color-light-2: rgb(190, 190, 190);
$color-dark-1: #000;
$color-dark-2: rgb(61, 61, 61);

$color-font-dark: #000;
$color-font-grey: rgb(70, 70, 70);
$color-font-light: #fff;

// BREAKPOINTS
$bp-infinite: 112.5em; //1800px
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 53.125em; //850px
$bp-small: 43.75em; //700px
$bp-smallest: 37.5em; //600px

$bp-service-break: 29.0625em; // 465px
$bp-influence-workflow-break: 29.6875em; //475px
$bp-contact-founder-break: 27.5em; // 440px
