// COLORS
$color-primary: #393e46;
$color-secondary: #5c636e;
$color-tertiary: #c0b95f;
$color-tertiary-light: #e2dfb4;
$color-quartenery: #f2f2f2;

$color-light: #fff;
$color-gray-1: rgb(190, 190, 190);
$color-gray-2: rgb(75, 75, 75);
$color-dark: #000;

$color-font-dark: rgb(32, 32, 32);
$color-font-grey: rgb(190, 190, 190);
$color-font-light: #fff;

$font-cinzel: "Cinzel Decorative", cursive;
$font-forum: "Forum", cursive;
$font-bellefair: "Bellefair", serif;
$font-mulish: "Mulish", sans-serif;

// BREAKPOINTS
$bp-infinite: 112.5em; //1800px
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 53.125em; //850px
$bp-small: 43.75em; //700px
$bp-smallest: 37.5em; //600px

$bp-service-break: 29.0625em; // 465px
$bp-influence-workflow-break: 29.6875em; //475px
$bp-contact-founder-break: 27.5em; // 440px
